@model WebApplication2.Data.Tinnhanh

@{
    ViewData["Title"] = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa điều này?</h3>
<div>
    <h4>Tinnhanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Matinnhanh" />
        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachuyenmucNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachuyenmucNavigation.Tenchuyenmuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Chấp nhận" class="btn btn-danger" /> 
            <input type="button" value="Quay trở lại" class="btn btn-info" onclick="location.href='@Url.Action("Index","Tinnhanhs")'" />
        </div>
    </form>
</div>
