@model WebApplication2.Data.Tinnhanh

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tinnhanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachuyenmucNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachuyenmucNavigation.Tenchuyenmuc)
        </dd>
    </dl>
</div>
<div>
    <input type="button" value="Sửa" class="btn btn-success" onclick="location.href='@Url.Action("Edit","Tinnhanhs",new { id=Model.Matinnhanh})'" />
    <input type="button" value="Quay trở lại" class="btn btn-info" onclick="location.href='@Url.Action("Index","Tinnhanhs")'" />
    </div>