@model IEnumerable<WebApplication2.Models.Tinnhanh>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" value="Tạo mới" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Tinnhanhs")'" />
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Noidung)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MachuyenmucNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachuyenmucNavigation.Tenchuyenmuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matinnhanh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matinnhanh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matinnhanh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
