@model IEnumerable<WebApplication2.Data.Tinnhanh>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" value="Tạo mới" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Tinnhanhs")'" />
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Noidung)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MachuyenmucNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachuyenmucNavigation.Tenchuyenmuc)
            </td>
            <td>
                <button class="btn btn-success" onclick="location.href='@Url.Action("Edit","Tinnhanhs",new{id=item.Matinnhanh})'">Sửa</button>
                <button class="btn btn-info" onclick="location.href='@Url.Action("Details","Tinnhanhs",new{id=item.Matinnhanh})'">Chi tiết</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Tinnhanhs",new{id=item.Matinnhanh})'">Xóa</button>
            </td>
        </tr>
}
    </tbody>
</table>
