@model WebApplication2.Models.Chuyenmuc

@{
    ViewData["Title"] = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa điều này?</h3>
<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Tenchuyenmuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenchuyenmuc)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Sobaiviet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobaiviet)
            @ViewData["a"]
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Chấp nhận" class="btn btn-danger" /> |
            <input type="button" value="Quay trở lại" class="btn btn-info" onclick="location.href='@Url.Action("Index","Chuyenmucs")'" />
        </div>
        
    </form>
</div>
