@model WebApplication2.Models.Chuyenmuc

@{
    ViewData["Title"] = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenchuyenmuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenchuyenmuc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sobaiviet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobaiviet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Machuyenmuc">Sửa</a> |
    <a asp-action="Index">Quay trở lại</a>
</div>
