@model WebApplication2.Models.Chuyenmuc

@{
    ViewData["Title"] = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenchuyenmuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenchuyenmuc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sobaiviet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobaiviet)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Edit","Chuyenmucs",new { id=Model.Machuyenmuc})'">Sửa</button> |
    <button class="btn btn-info" onclick="location.href='@Url.Action("Index","Chuyenmucs")'">Quay trở lại</button>
</div>
