@model IEnumerable<WebApplication2.Models.Chuyenmuc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tenchuyenmuc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobaiviet)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenchuyenmuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobaiviet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Machuyenmuc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Machuyenmuc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Machuyenmuc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
