@model IEnumerable<WebApplication2.Models.Chuyenmuc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" class="btn btn-primary" value="Tạo mới" onclick="location.href='@Url.Action("Create","Chuyenmucs")'" />
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tenchuyenmuc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobaiviet)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenchuyenmuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobaiviet)
            </td>
            <td>
                <button class="btn btn-success" onclick="location.href='@Url.Action("Edit","Chuyenmucs",new{id=item.Machuyenmuc})'">Sửa</button> 
                <button class="btn btn-info" onclick="location.href='@Url.Action("Details","Chuyenmucs",new{id=item.Machuyenmuc})'">Chi tiết</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Chuyenmucs",new{id=item.Machuyenmuc})'">Xóa</button>
            </td>
        </tr>
}
    </tbody>
</table>
