@model WebApplication2.Models.Tintuc

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tintuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Matintuc" />
        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tieudecon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tieudecon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tacgia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tacgia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachuyenmucNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachuyenmucNavigation.Machuyenmuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
